@font-face {
  font-family: "iconfont"; /* Project id 2865106 */
  src: url('iconfont.woff2?t=1635685518081') format('woff2'),
       url('iconfont.woff?t=1635685518081') format('woff'),
       url('iconfont.ttf?t=1635685518081') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-info:before {
  content: "\e6e5";
}

.icon-lianjie:before {
  content: "\e602";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-update:before {
  content: "\e968";
}

.icon-blog:before {
  content: "\e627";
}

.icon-github:before {
  content: "\ea0c";
}

.icon-qq:before {
  content: "\e65e";
}

.icon-email:before {
  content: "\e64d";
}

.icon-fenlei1:before {
  content: "\e62f";
}

.icon-guanyu:before {
  content: "\e655";
}

.icon-guidang:before {
  content: "\e60c";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-like1:before {
  content: "\e707";
}

.icon-time:before {
  content: "\e735";
}

.icon-View:before {
  content: "\e69d";
}

.icon-denglu:before {
  content: "\e604";
}

.icon-bilibili:before {
  content: "\e75d";
}

.icon-barrage-l:before {
  content: "\e60e";
}

.icon-xiugai:before {
  content: "\e606";
}

.icon-caiyouduo_hemaixiangqing-dingdanxiangqing:before {
  content: "\e677";
}

.icon-fenlei:before {
  content: "\e71b";
}

